*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
  height: 70px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}